 @import 'black-box-product.css';
 @import 'navbar.css';
 @import 'checkout.css';

:root {
    --primary: #D87D4A;
    --secondary: #101010;
    --tertiary: #F1F1F1;
    --quaternary: #FAFAFA;
    --primary-light: #FBAF85;
    --White: #FFFFFF;
    --Black: #000000;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: 'Manrope', sans-serif;
    min-height: 100vh;
}

.inner-container {
    max-width: 1110px;
    margin: 0 auto;
    height: 100%;
}


.hero-banner-inner-container {
    position: relative;
}

.outer-container {
    background-color: #191919;
    height: 600px;
}


.hero-banner-section {
    display: flex;
    background-image: url("../assets/assets/home/mobile/image-header.jpg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 100%;
    height: 100%;
    top: 0;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.hero-banner-content {
    display:block;
    width: 100%;
    max-width: 400px;
}
.hero-banner-content h3 {
    color: #FFF;
    font-family: Manrope;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 10px;
    text-transform: uppercase;
    opacity: 0.4964;
}

.hero-banner-content h1 {
    color: #FFF;
    font-family: Manrope;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 58px; /* 103.571% */
    letter-spacing: 2px;
    text-transform: uppercase;
}

.hero-banner-content p {
    color: #FFF;
    font-family: Manrope;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 25px; /* 166.667% */
    opacity: 0.75;
    margin-bottom: 40px;
}

.hero-banner-content a {
    display: block;
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    background: #FBAF85;
    padding: 15px 30px;
    text-decoration: none;
    margin: 0 auto;

}
.hero-banner-content a span {
    color: #FFF;
    font-family: Manrope;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1px;
    text-transform: uppercase;
}
/* Small (sm) */
@media (min-width: 440px) {
    .hero-banner-content h1{
        font-size: 36px;
    }
}
/* Medium (md) */
@media (min-width: 768px) {
  
    .outer-container {
        height: 728px;
    }

    /*Hero Section*/
    .hero-banner-section {
        background-image: url("../assets/assets/home/tablet/image-header.jpg");
        justify-content: center;
        text-align: center;
    }
    .hero-banner-content {
        width: 100%;
        max-width: 400px;
    }
    .hero-banner-content h3 {
        font-size: 14px;
    }

    .hero-banner-content h1 {
        font-size: 56px;
        line-height: 58px;
    }

    .hero-banner-content p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
    }

    .hero-banner-content a{
        width: 160px;
        height: 48px;
        padding: 15px 30px;
        margin: 0 auto;
    }
    .hero-banner-content a span{
        font-size: 13px;
    }
}

/* Large (lg) */
@media (min-width: 1024px) {
    
    /* Hero section */
    .hero-banner-section {
        justify-content: center;
        text-align: center;
    }
    .hero-banner-content {
        width: 100%;
        max-width: 400px;
    }
    .hero-banner-content h3 {
        font-size: 14px;
    }

    .hero-banner-content h1 {
        font-size: 56px;
        line-height: 58px;
    }

    .hero-banner-content p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
    }

    .hero-banner-content a{
        width: 160px;
        height: 48px;
        padding: 15px 30px;
        margin: 0 auto;
    }
    .hero-banner-content a span{
        font-size: 13px;
    }
}
/* Extra Large (xl) */
@media (min-width: 1280px) {
   

    /* Hero section */
    .hero-banner-section {
        background-image: url("../assets/assets/home/desktop/image-hero.jpg");
        background-size: cover;
        justify-content: left;
        text-align: left;
    }

    .hero-banner-content {
        width: 100%;
        max-width: 400px;
    }
    .hero-banner-content h3 {
        font-size: 14px;
    }
    .hero-banner-content h1 {
        font-size: 56px;
        line-height: 58px;
    }
    .hero-banner-content p {
        font-size: 15px;
        line-height: 25px;
        margin-bottom: 40px;
    }
    .hero-banner-content a{
        width: 160px;
        height: 48px;
        padding: 15px 30px;
        margin: 0;
    }
    .hero-banner-content a span{
        font-size: 13px;
    }
}